[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pycryptodome = "*"
openpyxl = "*"
prompt_toolkit = "*"

[requires]
python_version = "3.7"
